name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 9 * * 5'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v1
    - uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.8"
    - uses: coursier/cache-action@v5
    - run: ./.github/scala-native-setup.sh
    - run: sbt exampleJVM/test exampleJS/test exampleNative/test exampleNative/nativeLink
    - run: ./native/target/scala-2.11/scalaprops-cross-example-out
    - run: ./native/target/scala-2.11/scalaprops-cross-example-test-out
