name: CI
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: temurin
    - uses: coursier/cache-action@v6
    - run: sbt "+ exampleJVM/test" "+ exampleJS/test" "+ exampleNative/test" "+ exampleNative/nativeLink"
    - run: ./native/target/scala-2.13/scalaprops-cross-example
    - run: ./native/target/scala-2.13/scalaprops-cross-example-test
    - run: ./native/target/scala-3.6.2/scalaprops-cross-example
    - run: ./native/target/scala-3.6.2/scalaprops-cross-example-test
